---
import Bars from "./Bars.astro";
import { buy } from "../sample";

import svgUnderline from "../assets/underline.svg";
import arrowCard from "../assets/arrow-card.svg";

const portfolio = [
  {
    name: "E-Commerce ERIGO Website",
    desc: `ERIGO website is designed to provide information about the various products offered by ERIGO.`,
    cover: `/Erigo.png`,
  },
  {
    name: "FindPhone Website",
    desc: `FindPhone website is designed to provide information about electronic products offered by a company.`,
    cover: `/FindPhone.png`,
  },
  {
    name: "GoRef by Groperti",
    desc: `GoRef is designed to generate income for individuals by allowing them to earn money through property recommendations to people around them.`,
    cover: `/GoRef.png`,
  },
  {
    name: "Zocco Cafe Mobile",
    desc: `Zocco Cafe Mobile application is designed to provide information about the menu offered by the café, as well as payment options that can be made using cash or QRIS.`,
    cover: `/Zocco.png`,
  },
];
---

<section class="py-25 space-y-10 px-5" id="work">
  <div class="max-w-md mx-auto relative">
    <h1 class="text-4xl font-medium text-center">My Portfolio</h1>
    <img
      src={svgUnderline.src}
      alt="arrow"
      width="140"
      class="absolute left-50 -bottom-1"
    />
  </div>

  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
    {
      portfolio.map((item) => (
        <a
          href={buy.link}
          target="_blank"
          class="flex flex-col bg-white p-5 group relative transition-all duration-200 hover:shadow-[4px_4px_0px_rgba(0,0,0,0.3)]"
        >
          <div class="w-full h-[200px] overflow-hidden border-2">
            <img src={item.cover} alt="" class="w-full h-full object-cover" />
          </div>
          <div class="space-y-1 pt-4">
            <div class="flex pr-2">
              <h2 class="text-xl font-medium flex-1">{item.name}</h2>
              <img src={arrowCard.src} alt="arrow" width="25" />
            </div>
            <p class="mr-20">{item.desc}</p>
          </div>
          <Bars />
        </a>
      ))
    }
  </div>
</section>
